# .env
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=The Cricket Project
NEXT_PUBLIC_APP_URL=https://cricketsample.com
NEXTAUTH_URL=https://cricketsample.com

# postgres database configs
PSQL_DATABASE=cricketdatabase
PSQL_HOST=localhost
PSQL_USER=cricketuser
PSQL_PASSWORD=cricketsupersecret
PSQL_PORT=5432

# oauth
FACEBOOK_CLIENT_ID=yourfacebookclientid
FACEBOOK_CLIENT_SECRET=yourfacebookclientsecret
GOOGLE_CLIENT_ID=yourgoogleclientid
GOOGLE_CLIENT_SECRET=yourgoogleclientsecret