# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres
    container_name: db
    restart: always
    volumes:
      - ./db-psql:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${PSQL_USER}
      - POSTGRES_PASSWORD=${PSQL_PASSWORD}
      - POSTGRES_DB=${PSQL_DATABASE}
    ports:
      - ${PSQL_PORT}:5432