@tailwind base;
@tailwind components;
@tailwind utilities;

sup.required {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.custom-box-shadow {
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

.swiper {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery {
  height: fit-content;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
